@charset "utf-8";
/* CSS Document */
body{background-color: #FFE59E; text-align: center; font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"; font-size: 15px}  /*#e7e7e7*/
#contenedor{width: 90%; background-color: #fff; margin: 10px auto}  /*#fff*/
#header{width: 100%; background-color: #FF952C; color: white}  /*#f35858*/
#section{width: 100%; background-color: #09c}  /*#09c*/
#article{width: 70%; background-color: #ED7600; color: white; float: left}  /*#3e79f1*/
#aside{width: 30%; background-color: #C16000; color: white; float: right}  /*#fff146*/
#footer{width: 100%; background-color: #7A3C00; color: white}  /*#58f587*/
