body {background-color:#FFE59E}
h1 {color: red; font-family: 'ZCOOL KuaiLe', cursive; font-size:50px; line-height: 60px}
h2 {font-family: 'Gugi', cursive; font-size:30px; line-height: 40px}
#inicio {font-family: 'Wendy One', sans-serif; font-size:18px; line-height: 22px}
#inicio2 {font-family: 'Wendy One', sans-serif; font-size:18px; line-height: 22px}
#enlace {font-family: 'Roboto Condensed', sans-serif; font-size:18px; line-height: 22px}
p {font-family: 'Roboto Condensed', sans-serif; font-size:18px; line-height: 22px}