@charset "utf-8";
/* CSS Document */

.boton{position: fixed; margin-bottom: 1%; margin-right: 1%; bottom: 0px; right: 0px; z-index: 14; font: 16px normal verdana, sans-serif; display: inline-block} 


.boton a:link{
	color: #FFF;
	text-decoration: none;
	display: block;
	text-align: center;
	border:1px groove #FFF;
	width: 80px;
	line-height: 80px;
	background-color: #8A007E;
	border-radius: 50%;
	list-style: none;
}

.boton a:visited{
	color: #FFF;
	text-decoration: none;
	display: block;
	text-align: center;
	border:1px groove #FFF;
	width: 80px;
	line-height: 80px;
	background-color: mediumvioletred;
	border-radius: 50%;
}

.boton a:hover{
	color: #fff;
	text-decoration: none;
	display: block;
	text-align: center;
	border:1px groove #FFF;
	width: 80px;
	line-height: 80px;
	background-color: orange;
	border-radius: 50%;
}

.boton a:active{
	color: #fff;
	text-decoration: none;
	display: block;
	text-align: center;
	border:1px groove #FFF;
	width: 80px;
	line-height: 80px;
	background-color: magenta;
	border-radius: 50%;
}